<main class="container">

  <!-- class="container mat-elevation-z8" -->
  <mat-card class="container">
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <br>
    <br>
    <strong>E-Mail: </strong> <span>{{email}}</span>


  </div>
  </mat-card>
<br>
  <mat-card class="container">
    <div>
      <h4>Allowed Users</h4>
      <p>The following users can assign content to {{title}}</p>

      <mat-chip-list #chipList>
        <mat-chip *ngFor="let user of projectUser" [selectable]="selectable"
                  [removable]="canManageProjects" (remove)="remove(user)" (dblclick)="showInfo(user)">
          {{user.name}}
          <mat-icon matChipRemove *ngIf="canManageProjects" >cancel</mat-icon>
        </mat-chip>

      </mat-chip-list>

      <br>
      <br>

      <form *ngIf="canManageProjects">

        <p>If you wish to add a new user to this project, you can search for them using below input field.</p>

        <mat-form-field style="width: 500px">
          <input type="text" placeholder="Search for username" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                 >
          <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayFn">
            <mat-option *ngFor="let user of filteredOptions | async" [value]="user"  >
              {{ user.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addUsertoProject()">Add user</button>
      </form>

    </div>
  </mat-card>

<br>

  <mat-card class="container">
    <div>
      <h4>Floor Plans and Beacons</h4>
      <br>

      <div class="row" >

      <div *ngFor="let image of images; let i = index">

        <mat-card style="width: 250px; height: 250px; display: inline-block; margin-left: 10px; margin-top: 15px;
                        position: relative" (click)="showFloorPlan(image.id)">
          <div style="
          background-color: rgba(0, 0, 0, 0.7);
          width: auto; height: auto; position: absolute;
          top: 0px; right: 10px;
          padding: 5px">
            <span style="color: #FFFFFF">{{image.beacon_count>0? image.beacon_count+" "+(image.beacon_count>1?"beacons": "beacon") : "no beacons"}}</span>
          </div>

          <div style="width: 98%; height: 80%; overflow-x: auto; overflow-y: auto">
            <img src="{{this.values.getServiceEndPoint()+image.url}}" style="height: 100%; width: 100%"  />
          </div>

          <div style="height: 98%; height: 18%; margin-top: 10px">

            <p style="margin: auto auto; text-align: center"> {{image.name}} </p> <br/>

          </div>

        </mat-card>

      </div>
      </div>

      <br>


      <button mat-fab color="primary" (click)="openImageUploadDialog()">+</button>


    </div>
  </mat-card>

  <br>

  <mat-card class="container">
    <div>
      <h4>Push Settings</h4>
      <p>provide your Push and APNS details here, to enable push updates</p>
      <br>
      <form >
        <mat-form-field class="example-full-width" style="width: 650px;">
          <textarea matInput placeholder="Google GCM" [formControl]="gcmControl"></textarea>
        </mat-form-field>

        <br/>

        <button mat-raised-button color="primary" (click)="saveGCMKey()">Save</button>

      </form>
    </div>
    <br>
  </mat-card>



</main>
