<main class="container">

  <div>
    <h3>Available Users</h3>
    <br/>


    <!-- class="container mat-elevation-z8" -->
    <mat-card class="container">
      <div >
        <div class="">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>


        <mat-table [dataSource]="dataSource" matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="body">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preview </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.body.length> 20 ? (row.body | slice:0:20)+'..':row.body}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="floorplan-name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Floorplan  </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.floorplan_name | slice:0:20}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="published">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Published </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.published | slice:0:20}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
                   >
          </mat-row>




        </mat-table>



        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </mat-card>


  </div>


  <div class="spaceTop">

  </div>

</main>

