/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}



.container{

  padding-top: 10px;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: 200px;

}

*.unselectable { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;}

.spaceTop{

  margin-top: 50px;

}

/*
 * Sidebar
 */

.sidebar {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 40px/* Scrollable contents if viewport is shorter than content. */

}

/* Sidebar navigation */
.nav-list {
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.nav-list .nav {
  margin-bottom: 20px;
}

.nav-list .nav-item {
  width: 100%;
}

.nav-list .nav-item + .nav-item {
  margin-left: 0;
}

.nav-list .nav-link {
  border-radius: 0;
}



.submenu {
  margin-top: 5px;
  padding-left: 24px;
}

.nav-list > li > ul:not(.submenu){
  display: none;
  visibility: hidden;

}


.submenu > nav-item a {
  font-size: 14px;
  padding-left: 26px !important;
}

.submenu > li > .active2
{
  background-color: #919aa1;
  color: white;
}



/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.highlight{
  background: #42A948; /* green */
}

.highlight .mat-cell {
  color:  white;
}

/* Material */
.input-full-width {
  width: 100%;
}

.custom-form {
  min-width: 150px;
}

.mat-password{
  margin-top: 30px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

