
<main>
<div class="container">

<form (submit)="onRegisterSubmit()"  class="custom-form">

  <div class="row">

    <div class="col-xs-7 col-md-5"  >

      <h4>Personal Details</h4>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Name" [(ngModel)]="model.name"  name="name"  id="name" [disabled]="disable_info" >
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Username" [(ngModel)]="model.username"  name="username" id="username" required="required" [disabled]="disable_info">
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="model.email" name="email" id="email" [disabled]="disable_info">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

      <mat-form-field class="input-full-width mat-password" *ngIf="!data">
        <input matInput type="password" placeholder="Password" [(ngModel)]="model.password"  name="password" id="password" required="required" [disabled]="disable_info" >
      </mat-form-field>


    </div>


    <div class="col-xs-7 col-md-5 offset-md-1"  >

      <div class="row">

        <div class="col">
          <h4>Roles</h4>

          <section >
            <mat-checkbox [(ngModel)]="model.roles.manage_users" name="manage_users" id="manage_users" [disabled]="disable_roles">Manage Users</mat-checkbox>
          </section>
          <section>
            <mat-checkbox [(ngModel)]="model.roles.manage_roles" name="manage_roles" id="manage_roles" [disabled]="disable_roles">Manage Roles</mat-checkbox>
          </section>
          <section >
            <mat-checkbox [(ngModel)]="model.roles.manage_projects" name="manage_projects" id="manage_projects" [disabled]="disable_roles">Manage Projects</mat-checkbox>
          </section>
          <br/>
          <br/>

        </div>

      </div>



      <div class="row">
        <div class="col">
          <h4>Admin</h4>

          <section >
            <mat-checkbox [(ngModel)]="model.isadmin" name="isadmin" id="isadmin" [disabled]="disable_isadmin">is Admin</mat-checkbox>
          </section>

        </div>
      </div>

    </div>


  </div>
  <br/>
  <br/>

  <div class="row">

    <div class="col-4">
      <input *ngIf="!inputs_disabled" type="submit" class="btn btn-primary" value="{{submitText}}" >
    </div>

    <div class="col" *ngIf="data">
      <div style="float: right" *ngIf="can_delete">
        <button  mat-raised-button color="warn" [disabled]="!can_delete" type="button" class="btn btn-primary" (click)="openDeleteDialog()">Delete</button>
      </div>
    </div>

  </div>


</form>


</div>
</main>
