<main class="container">

  <mat-card style="min-height: 700px">
    <h1 style="align-content: center; " class="text-center">{{floorplan.name}}
    </h1>

    <p>iBeacon -> <img #icon src="../../../assets/beacon_icon.png"
                    style="width: 30px; height: 30px"/>  EddyStone -> <img #icon2 src="../../../assets/beacon_icon2.png"
                                                                           style="width: 30px; height: 30px"/> </p>

    <br/>
    <br/>
    <div>
      <img-map #imgMap
               src="{{this.values.getServiceEndPoint()+floorplan.url}}"
               [markers]="pins"
               [polygons]="polygons"
               imageSmoothing="true"
               smoothingQuality="high"
               (onMarkerDoubleClicked)="showBeaconDetails($event)"
               (onPolygonDoubleClicked)="showPolygonDetails($event)"
               polygonEnabled="true"
               showPolyNodes="true"

      ></img-map>

    </div>
    <br/>
    <div>
      <br/>

      <div class="row">

        <div class="">
          <h4>Floorplan - Details:</h4>
          <strong>Beacon count: </strong> <span>{{getBeaconSize()}}</span> <br/>
          <strong>Content Areas: </strong> <span>0</span> <br/>
          <strong>Total Assigned Contents so Far: </strong> <span></span> <br/>
          <strong>Date Added: </strong> <span> {{floorplan.created}} </span> <br/>
          <br/>
        </div>


      </div>

      <br/>


      <br/>
      <br/>
    </div>


  </mat-card>


</main>
