
<main>
<div class="container">

<form (submit)="onRegisterSubmit()" class="custom-form">

  <div class="row">

    <div class="col-xs-7 col-md-5"  >

      <h3>Personal Details</h3>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Name" [(ngModel)]="model.name"  name="name"  id="name" >
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Username" [(ngModel)]="model.username"  name="username" id="username" required="required" >
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="model.email" name="email" id="email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

      <mat-form-field class="input-full-width mat-password">
        <input matInput type="password" placeholder="Password" [(ngModel)]="model.password"  name="password" id="password" required="required" >
      </mat-form-field>


    </div>

    <div class="col-xs-7 col-md-5"  >

      <h3>Roles</h3>

      <section >
        <mat-checkbox>Manage Users</mat-checkbox>
      </section>
      <section>
        <mat-checkbox>Manage Roles</mat-checkbox>
      </section>
      <section >
        <mat-checkbox >Manage Projects</mat-checkbox>
      </section>

    </div>


  </div>

  <input type="submit" class="btn btn-primary" value="Submit">


</form>


</div>
</main>
