

<h2 class="page-header">Register</h2>

<form (submit)="onRegisterSubmit()" >

<div class="form-group">
  <label >Name</label>
  <input type="text" [(ngModel)]="model.name"  name="name" class="form-control" id="name" required="required">
</div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="model.username"  name="username" class="form-control" id="username" required="required">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" [(ngModel)]="model.email"  name="email" class="form-control" id="email" required="required">
  </div>


  <div class="form-group">
    <label for="password" >Password</label>
    <input type="password" [(ngModel)]="model.password"  name="password" class="form-control" id="password" required="required">
  </div>


  <input type="submit" class="btn btn-primary" value="Submit">


</form>
