<main class="container">

  <mat-card style="min-height: 700px">
    <h1 style="align-content: center; " class="text-center"><img #icon src="../../../../../assets/beacon-icon.png"
                                                                 style="width: 50px; height: 50px"/> {{floorplan.name}}
    </h1>

    <br/>

    <div style="float: right">
      <button mat-button color="primary" (click)="addBeacon()">+ Beacon</button>
      <button mat-raised-button color="accent" (click)="saveBeacon()" *ngIf="changed" style="float: right">Save</button>

    </div>
    <br/>
    <div>
      <img-map #imgMap
               src="{{this.values.getServiceEndPoint()+floorplan.url}}"
               [markers]="pins"
               [polygons]="polygons"
               (viewDidAppear)="floorplanAppeared($event)"
               (change)="onMarkerChanged($event)"
               imageSmoothing="true"
               smoothingQuality="high"
               canDrag="true"
               (onPolyChange)="onPolygonChanged($event)"
               (onMarkerDoubleClicked)="showBeaconDetails($event)"
               (onPolygonDoubleClicked)="showPolygonDetails($event)"
               polygonEnabled="true"
               showPolyNodes="true"

      ></img-map>

    </div>
    <br/>
    <div>
      <br/>

      <br/>
      <h4>Floorplan - Details:</h4>


      <strong>Beacon count: </strong> <span>{{getBeaconSize()}}</span> <br/>
      <strong>Content Areas: </strong> <span>0</span> <br/>
      <strong>Total Assigned Contents so Far: </strong> <span></span> <br/>

      <br/>


      <h4>Other - Details</h4>
      <strong>Date Added: </strong> <span> {{floorplan.created}} </span> <br/>
      <strong>Size: </strong> <span>{{floorplan.size | fileSize}}</span> <br/>

      <button mat-raised-button *ngIf="can_manage_project" style="float: right" (click)="changeName()">Change Name
      </button>
      <br/>
      <br/>

      <button mat-raised-button color="warn" (click)="deleteFloorPlan()" *ngIf="can_delete" style="float: right">Delete
        Floorplan
      </button>

      <br/>
      <br/>
    </div>


  </mat-card>


</main>
