<main class="container">

  <!-- class="container mat-elevation-z8" -->

    <div >

      <div *ngIf="!is_project" style="text-align: center; margin-top: 50px">
        <h2>Welcome!</h2>
        <p>{{presentUser.name}}</p>
      </div>

      <div *ngIf="is_project">

        <div style="text-align: center; margin-top: 50px">
          <h2>{{project_name}}</h2>
          <p>{{project_description}}</p>

          <h4>Access token</h4>
          <p>xxx: {{access_token_for_project}}</p>


          <div style="margin: auto auto; width: 400px">
            <stat-piechart #piechart></stat-piechart>
          </div>

        </div>

        <br/>
        <div class="row">

          <div class="col-8">
            <stat-horizontal-barchart #barchart></stat-horizontal-barchart>
          </div>

          <div class="col-3">

            <h3>Total Number of Contents:</h3>
              <div> {{number_of_content}} </div>
          </div>

        </div>




      </div>

      <br>
      <br>

    </div>

  <br>

  <br>



</main>
